.App {
    --header_height: 60px;
}

.hw {
    margin: 0 auto;
    width: 100%;
    min-height: 475px;
    height: auto;
    background-color: cadetblue;
    padding: 30px;
    border-radius: 20px;
}

.hwTitle {
    font-size: 22px;
    font-weight: 600;
}